body{
background: #063970;
}
.users-register{
    width: 80%;
    margin: 150px auto;
    height: auto;
}
.form-control{
    width: 60%;
    margin: auto;
}

.users{
    margin-top: 30px;
}
.user-edit{
    color: yellow;
    text-decoration: none;
}